body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro';
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Pages styling */

.content-container {
  margin: 0;
  padding:0;
  min-height: 100vh;
  width: 100%;
}
.nav-wrapper {
  background-color: black;
  padding: 20px 5px 20px 5px;
}

.nav-container {
  margin: 0 auto 0 auto;
  color: white;
  list-style: none;
  display: flex;
  padding: 20px 5px 20px 5px;
  justify-content: space-between;
  width: 90%;
  max-width: 700px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.home-contaier {
  margin: 0;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
  background-color: black;
}

.headline-home {
  margin-top: 30px;
  font-size: 25px;
  color: red;
  text-align: center;
}

.subheading-home {
  font-size: 20px;
  color: white;
  text-align: center;
}

.home-wrapper{
  margin: 40px auto 0px auto ;
  display: flex;
  justify-content: space-around;
  max-width: 700px;
}

.home-link {
  padding: 5px 16px 5px 16px;
  text-decoration: none;
  color: #ffff;
  background-color: red;
  font-weight: bold;
  width: 100px;
  text-align: center;
}

.tvshow-container {
  margin: 0;
  background-color: #282c34;
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.section-headline {
  text-align: center;
  margin:0
}

.section-subheading {
  text-align: center;
}

/* Form styling */

.form-container {
  max-width: 700px;
  padding: 10px;
  margin: 10px auto 10px auto;
}

.form-header-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-header{
  margin-right: 5px;
  font-size: 20px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 0;
  transition: 0.2s max-height ease-in-out;
}

.visible{
  max-height: 500px;
  transition: 0.2 ease-in-out;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: 14px;
}

input {
  height: 20px;
  font-size: 14px;
}

.submit {
  width: 100px;
  align-self: center;
  margin-top: 15px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 16px 5px 16px;
  font-weight: 400;
}

.link {
  color: white;
  text-decoration: none;
}

.link-text {
  font-size: 16px;
  padding: 3px 0 3px 0;
  margin: 0 auto 10px auto;
  text-align: center;
  background-color: rgba(89, 88, 88, 0.687);
  max-width: 700px;
}

/* Pagination  */
.page-button {
  font-size: 10px;
  background: none;
  color: white;
  height: 20px;
}

.active {
  border: red 1px solid;
}

.pagination-button-nav {
  font-size: 10px;
  background: none;
  color: white;
  height: 20px;
  outline: none;
  background-color: red;
}

.pagination-button-nav:disabled {
  background-color: rgba(255, 0, 0, 0.283);
}

.pagination-container{
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Individual show page  */
.show-container {
  color: white;
  width: 100%;
  padding: 5px;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.show-titel {
  margin:0;
}

.bold {
  font-weight: bold;
  color: red;
}

/* About */
.max-width-fix {
  max-width: 700px;
  margin:auto;
}
.endpoint-link {
  color: white
}

table, th, td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 2px;
}

.text-heading {
  text-transform: uppercase;
}

.loader, .error {
  text-align: center;
}

@media(min-width: 650px) {
  .nav-container {
    justify-content: space-around;
  }

}